<style>
    *{
        margin: 0;
        padding: 0;
    }
    .header{
        height: 100px;
        background-color: rgb(34,51,68);
        color: white;
        text-align: center;
        line-height: 100px;
        font-size: 30px;
        font-weight: 900;
    }
    form{
        font-weight: 900;
        margin: 20px auto;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title_login{
        text-align: center;
    }
    .id,.password{
        display: flex;
        margin: 10px 0;
        justify-content: center;
    }
    .id label,.password label{
        margin-right: 10px;
    }
    button[type="submit"]{
        display: block;
        width: 100px;
        margin: 10px auto;
    }
    .nav-link{
        margin: auto;
    }
    .logout_block{
        text-align: center;
        margin-top:10px;
    }
</style>
    {%block style%}{%endblock%}
<body>
    {% block content %}
    <div class="header">歡迎光臨，請輸入帳號密碼</div>
    <form method="POST" action="/signin">
        <h3 class="title_login">登入系統</h1>
        <div class="id">
            <label for="user_id">帳號:</label>
            <input type="text" id="user_id" name="user_id">
        </div>
        <div class="password">
            <label for="password">密碼:</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">登入</button>
    </form>
    {%endblock%}
</body>